<mat-card class="todo-card m-3">
  <mat-card-header>
    <mat-card-title [class.todo-done]="todo.done" [title]="todo.title">
      {{ todo.title }}
    </mat-card-title>
    
  </mat-card-header>
  <mat-divider [inset]="true" class="py-2"></mat-divider>
  <mat-card-content>
    <p class="text-truncate" [title]='todo.desc'>{{ todo.desc }}</p>
  </mat-card-content>
  <mat-card-actions>
    <mat-checkbox class="example-margin ml-3" [(ngModel)]="todo.done" (ngModelChange)='setDoneStatus()'>
      Done
    </mat-checkbox>

    <button mat-icon-button color='primary' class="float-right" (click)="openEditTodoDialog()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color='warn' (click)="delete()" class="float-right">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
  
</mat-card>
