<div
  class="d-flex flex-column justify-content-center align-items-center h-100 container"
>
  <span class="display-3 text-primary pb-5">{{ title }}</span>
  <mat-card class="login-card">
    <div class="row"> 
      <div class="col text-center"> 
        <span class="h5">Log-In to start your session</span>
      </div>
    </div>
    <mat-card-content class="mt-5">
      <div>
        <mat-form-field>
          <mat-label>Enter your email</mat-label>
          <input
            class="py-2"
            matInput
            [(ngModel)]="username"
            id="email"
            type="email"
            name="email"
          />
          <mat-icon matSuffix class="mx-2">email</mat-icon>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input
            class="py-2"
            matInput
            [(ngModel)]="password"
            id="password"
            [type]="hide?'password':'text'"
            name="password"
          />
          <button mat-icon-button matSuffix (click)="hide = !hide" class="mx-2">
            <mat-icon style="font-size:25px;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <p class="text-danger">{{ err_msg }}</p>
      </div>
    </mat-card-content>
    <mat-card-actions class="text-right">
      <button
        mat-raised-button
        color="primary"
        class="mx-3"
        (click)="login()"
      >
        Log In
        <mat-icon>login</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
